<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="shortcut icon" type="image/x-icon"
          href="../../resources/static/img/logo.ico"
          th:href="@{/resources/static/img/logo.ico}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Tests</title>
</head>
<body>

<nav class="pr-2 navbar navbar-expand-lg navbar-light bg-light pt-0 pb-1 mb-3">
    <a class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                 th:src="@{/resources/static/img/logo.svg}"
                                 height="32" width="32"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="navbar-nav">
                <!--<a class="nav-item nav-link" href="student">Student <span class="sr-only">(current)</span></a>-->
                <button id="student" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@mdo">Out test
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">You sure end create test(current
                                    test
                                    don't save)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="teacher.html"
                                   th:href="@{/teacher}">End</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav">
                    <a id="teacher"
                       type="button"
                       href="teacher.html"
                       th:onclick="@{document.forms['testDTOForm'].submit(); return false;}"
                       class="btn btn-outline-secondary">Save test</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<section>
    <div id="schemaNewQuestion" hidden class="container-fluid pb-2">
        <div class="row">
            <div class="col col align-self-center">
                <div class="card">
                    <div>
                        <div>
                            <h2>Question № schema</h2>
                        </div>
                        <div class="form-group row-conformity">
                            <div class="col-sm-12">
                                <textarea class="form-control"
                                          placeholder="enter questionName"
                                          name="newQuestion" value=" "> </textarea>
                            </div>
                        </div>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">

                                        <input type="checkbox">
                                        <input name="newAnswer" type="text" hidden value="0">

                                        <label class="col-sm-5 col-form-label text-center">Possible
                                            answer <span>1</span></label>
                                        <div class="col-sm-12">
                                                    <textarea class="form-control" placeholder="enter answer"
                                                              name="newDescription" value=" "> </textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox">
                                        <input name="newAnswer" type="text" hidden value="0">

                                        <label class="col-sm-5 col-form-label text-center">Possible
                                            answer <span>1</span></label>
                                        <div class="col-sm-12">
                                                    <textarea class="form-control" placeholder="enter answer"
                                                              name="newDescription" value=" "> </textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox">
                                        <input name="newAnswer" type="text" hidden value="0">

                                        <label class="col-sm-5 col-form-label text-center">Possible
                                            answer <span>1</span></label>
                                        <div class="col-sm-12">
                                                    <textarea class="form-control" placeholder="enter answer"
                                                              name="newDescription" value=" "> </textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check form-check-inline">
                                        <input type="checkbox">
                                        <input name="newAnswer" type="text" hidden value="0">

                                        <label class="col-sm-5 col-form-label text-center">Possible
                                            answer <span>1</span></label>
                                        <div class="col-sm-12">
                                                    <textarea class="form-control" placeholder="enter answer"
                                                              name="newDescription" value=" "> </textarea>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="tests">
    <div class="container-fluid">
        <div class="row">
            <div class="col col align-self-center">
                <form id="testDTOForm"
                      th:object="${testDto}"
                      action="teacher.html"
                      th:action="@{${#httpServletRequest.servletPath}}"
                      th:method="post">
                    <div class="card">
                        <table class="table table-str">
                            <tbody>

                            <tr class="text-right">
                                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                                    <p>Please fix empty field below:</p>
                                </div>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-center">Subject</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" th:field="*{subjectId}">
                                                <option th:each="subject : ${subjects}"
                                                        th:value="${subject.subjectId}"
                                                        th:text="${subject.name}"
                                                        th:selected="${subject.name} == ${testDto.subjectName}">Math
                                                </option>
                                                <option th:remove="all">Physics</option>
                                                <option th:remove="all">Biology</option>
                                                <option th:remove="all">Astronomy</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center">Test
                                            name</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"
                                                   placeholder="enter test name"
                                                   th:errorclass="is-invalid"
                                                   th:field="*{testName}"/>
                                            <div th:if="${#fields.hasErrors('testName')}"
                                                 class="invalid-feedback"
                                                 th:errors="*{testName}">[errors]
                                            </div>
                                        </div>
                                        <input type="text"
                                               hidden
                                               th:field="*{idTests}"/>
                                        <input type="text" name="teacherId"
                                               th:value="${#session.getAttribute('teacher').teacherId}"
                                               hidden="">
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>

                        <section id="listQuestion">
                            <div class="container-fluid pb-2">
                                <div class="row">
                                    <div class="col col align-self-center">
                                        <div class="card" th:each="question, questStat : *{questions}">
                                            <div>
                                                <div class="question" id="1" th:id="${questStat.count}">
                                                    <h2>Question № <span th:text="${questStat.count}"> start </span>
                                                    </h2>
                                                </div>
                                                <div class="form-group row-conformity">
                                                    <div class="col-sm-12">
                                                        <input hidden type="number"
                                                               th:field="*{questions[__${questStat.index}__].questionId}"/>
                                                        <textarea class="form-control"
                                                                  placeholder="enter questionName"
                                                                  th:field="*{questions[__${questStat.index}__].questionName}"
                                                                  th:errorclass="is-invalid">
                                                        </textarea>
                                                        <div th:if="${#fields.hasErrors('questions[__${questStat.index}__].questionName')}"
                                                             class="invalid-feedback"
                                                             th:errors="*{questions[__${questStat.index}__].questionName}">
                                                            [errors]
                                                        </div>
                                                    </div>

                                                    <div th:if="${#fields.hasErrors('questions[__${questStat.index}__].questionName')}"
                                                         class="invalid-feedback"
                                                         th:errors="*{questions[__${questStat.index}__].questionName}">
                                                        [errors]
                                                    </div>

                                                </div>
                                            </div>

                                            <div th:if="${#fields.hasErrors('questionItems[__${questStat.index}__][__${0}__].answer')}"
                                                 class="alert alert-danger">
                                                <p>Please select at least 1 answer option</p>
                                            </div>

                                            <table class="table">
                                                <tbody>
                                                <tr th:each="questionItem, itemStat : *{questionItems[__${questStat.index}__]}">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <div>
                                                                <input class="form-check-input" type="checkbox"
                                                                       th:field="*{questionItems[__${questStat.index}__][__${itemStat.index}__].answer}"
                                                                       th:value="${questionItem.answer}"/>
                                                            </div>
                                                            <input type="number" hidden
                                                                   th:field="*{questionItems[__${questStat.index}__][__${itemStat.index}__].questionItemId}"
                                                            />
                                                            <label th:for="${#ids.next('answer')}"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer
                                                                <span th:text="${itemStat.count}"> 1 </span></label>

                                                            <div class="col-sm-12">
                                                                <textarea class="form-control"
                                                                          placeholder="enter answer"
                                                                          th:field="*{questionItems[__${questStat.index}__][__${itemStat.index}__].description}"
                                                                          th:errorclass="is-invalid"></textarea>
                                                                <div th:if="${#fields.hasErrors('questionItems[__${questStat.index}__][__${itemStat.index}__].description')}"
                                                                     class="invalid-feedback"
                                                                     th:errors="*{questionItems[__${questStat.index}__][__${itemStat.index}__].description}">
                                                                    [errors]
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox2"
                                                                   value="option3">
                                                            <label for="inlineCheckbox2"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 2</label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                          placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox3"
                                                                   value="option3">
                                                            <label for="inlineCheckbox3"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 3</label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                          placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox4"
                                                                   value="option3">
                                                            <label for="inlineCheckbox4"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 4 </label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                          placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--after validation-->
                            <div class="container-fluid pb-2">
                                <div class="row">
                                    <div class="col col align-self-center">
                                        <div class="card" th:each="add, addStat : *{questionsToAdd}">
                                            <div>
                                                <div class="question" th:id="${addStat.count}">
                                                    <h2>Add question № <span
                                                            th:text="${addStat.count}"> validation </span>
                                                    </h2>
                                                </div>
                                                <div class="form-group row-conformity">
                                                    <div class="col-sm-12">
                                                        <textarea class="form-control"
                                                                  placeholder="enter questionName"
                                                                  th:field="*{questionsToAdd[__${addStat.index}__].questionName}"
                                                                  th:value="${add.questionName}"
                                                                  th:errorclass="is-invalid">
                                                        </textarea>
                                                        <div th:if="${#fields.hasErrors('questionsToAdd[__${addStat.index}__].questionName')}"
                                                             class="invalid-feedback"
                                                             th:errors="*{questionsToAdd[__${addStat.index}__].questionName}">
                                                            [errors]
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div th:if="${#fields.hasErrors('questionItemsToAdd[__${addStat.index}__][__${0}__].answer')}"
                                                 class="alert alert-danger">
                                                <p>Please select at least 1 answer option</p>
                                            </div>

                                            <table class="table">
                                                <tbody>
                                                <tr th:each="addItem, addItemStat : *{questionItemsToAdd[__${addStat.index}__]}">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox1"
                                                                   th:field="*{questionItemsToAdd[__${addStat.index}__][__${addItemStat.index}__].answer}"
                                                                   th:value="${addItem.answer}"/>

                                                            <label th:for="${#ids.next('answer')}"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer
                                                                <span th:text="${addItemStat.count}"> 1 </span></label>

                                                            <div class="col-sm-12">
                                                                <textarea class="form-control"
                                                                          placeholder="enter answer"
                                                                          th:field="*{questionItemsToAdd[__${addStat.index}__][__${addItemStat.index}__].description}"
                                                                          th:errorclass="is-invalid"></textarea>
                                                                <div th:if="${#fields.hasErrors('questionItemsToAdd[__${addStat.index}__][__${addItemStat.index}__].description')}"
                                                                     class="invalid-feedback"
                                                                     th:errors="*{questionItemsToAdd[__${addStat.index}__][__${addItemStat.index}__].description}">
                                                                    [errors]
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--after validation-->
                        </section>

                        <click>
                            <button type="button"
                                    class="btn btn-secondary btn-lg btn-block pb-2">Add new question
                            </button>
                        </click>

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


<script>

$(function(){
    var count = 0;
    $('click').bind('click', function(){
    count += 1;
    $('#schemaNewQuestion').clone(true, false).removeAttr("hidden").appendTo('#listQuestion');
    $('#schemaNewQuestion:first').attr('id', count);
    var gg =$('h2:last').text("Add question №" + count);
    });
});



</script>


<script>

$("input:checkbox").on('change', function() {
	if ( $(this).is(':checked') ) {
  	$(this).siblings('input').val('1');
  } else {
  	$(this).siblings('input').val('0');
  }
});



</script>

</body>
</html>