<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="shortcut icon" type="image/x-icon"
          href="../../resources/static/img/logo.ico"
          th:href="@{/resources/static/img/logo.ico}"/>

    <title>Tests</title>
</head>
<body>

<nav class="pr-2 navbar navbar-expand-lg navbar-light bg-light pt-0 pb-1 mb-3">
    <a class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                 th:src="@{/resources/static/img/logo.svg}"
                                 height="32" width="32"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="navbar-nav">
                <!--<a class="nav-item nav-link" href="student">Student <span class="sr-only">(current)</span></a>-->
                <button id="student" type="button" class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@mdo">Out test
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">You sure end create test(current
                                    test
                                    don't save)</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger" href="teacher.html" role="button">End</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav">
                    <button id="teacher" type="button" class="btn btn-outline-secondary">Save test</button>
                </div>
            </div>
        </div>
    </div>
</nav>
<section id="tests">
    <div class="container-fluid">
        <div class="row">
            <div class="col col align-self-center">
                <!--<div class="card" th:if ="not ${TestsDTO.questions.isEmpty()}">-->
                <div class="card">
                    <table class="table table-str">
                        <tbody>
                        <tr class="text-right">
                            <td>
                                <div class="form-group row">
                                    <label for="subject" class="col-sm-2 col-form-label text-center">Subject</label>

                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="subject"
                                               placeholder="enter subject"
                                               th:field="${TestDTO.subjectName}">
                                        <select class="form-control" id="exampleFormControlSelect1">
                                            <option value="0">Math</option>
                                            <option value="1">Physics</option>
                                            <option value="2">Biology</option>
                                            <option value="3">Astronomy</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group row">
                                    <label for="testname" class="col-sm-2 col-form-label text-center">Test name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control"
                                               id="testname"
                                               placeholder="enter test name"
                                               th:field="${TestDTO.testName}">
                                    </div>
                                </div>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <section id="listQuestion">
                        <div id="questionsAdd" class="container-fluid pb-2">
                            <!--th:unless="${TestsDTO.questions.isEmpty()}">-->
                            <div class="row">
                                <div class="col col align-self-center">
                                    <div class="card" th:each="question, stat : ${TestDTO.questions}">
                                        <div>
                                            <div>
                                                <h2>Question № <span th:text="${stat.count}"> 1 </span>
                                                </h2>
                                            </div>
                                            <div class="form-group row-conformity">
                                                <div class="col-sm-12   ">
                                                    <textarea type="text" class="form-control"
                                                           id="inlineCheckbox0"
                                                           placeholder="enter questionName"
                                                           th:id="${question.questionId}"
                                                              th:text="${question.questionName}"></textarea>
                                                </div>
                                            </div>

                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td th:each="questionItem, itemStat : ${TestDTO.questionItems[__${stat.index}__]}">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox1"
                                                                   value="reg"
                                                                   th:checked="${questionItem.answer}">
                                                            <label for="inlineCheckbox1"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer
                                                                <span th:text="${itemStat.count}"> 1 </span></label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                       placeholder="enter answer"
                                                                          th:text="${questionItem.description}"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox2"
                                                                   value="option3">
                                                            <label for="inlineCheckbox2"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 2</label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                          placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox3"
                                                                   value="option3">
                                                            <label for="inlineCheckbox3"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 3</label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                       placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all">
                                                    <td>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox"
                                                                   id="inlineCheckbox4"
                                                                   value="option3">
                                                            <label for="inlineCheckbox4"
                                                                   class="col-sm-5 col-form-label text-center">Possible
                                                                answer 4 </label>
                                                            <div class="col-sm-12">
                                                                <textarea type="text" class="form-control"
                                                                       placeholder="enter answer"></textarea>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div id="schemaNewQuestion" hidden="hidden" class="container-fluid pb-2">
                        <div class="row">
                            <div class="col col align-self-center">
                                <div class="card">
                                    <div>
                                        <div>
                                            <h2>Question № </h2>
                                        </div>
                                        <div class="form-group row-conformity">
                                            <div class="col-sm-12">
                                                <textarea type="text" class="form-control"
                                                          placeholder="enter questionName"></textarea>
                                            </div>
                                        </div>

                                        <table class="table table-striped">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox"
                                                               value="reg">
                                                        <label for="inlineCheckbox1"
                                                               class="col-sm-5 col-form-label text-center">Possible
                                                            answer 1 </label>
                                                        <div class="col-sm-12">
                                                            <textarea type="text" class="form-control"
                                                                   placeholder="enter answer"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox"

                                                               value="option3">
                                                        <label for="inlineCheckbox2"
                                                               class="col-sm-5 col-form-label text-center">Possible
                                                            answer 2</label>
                                                        <div class="col-sm-12">
                                                            <textarea type="text" class="form-control"
                                                                   placeholder="enter answer"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox"
                                                               value="option3">
                                                        <label for="inlineCheckbox3"
                                                               class="col-sm-5 col-form-label text-center">Possible
                                                            answer 3</label>
                                                        <div class="col-sm-12">
                                                            <textarea type="text" class="form-control"
                                                                   placeholder="enter answer"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" type="checkbox"
                                                               value="option3">
                                                        <label for="inlineCheckbox4"
                                                               class="col-sm-5 col-form-label text-center">Possible
                                                            answer 4 </label>
                                                        <div class="col-sm-12">
                                                            <textarea type="text" class="form-control"
                                                                   placeholder="enter answer"></textarea>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button  onclick="addQuestion()" type="button"
                            class="btn btn-secondary btn-lg btn-block pb-2">Add new question
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>


<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>

<script>
function outer(){
let i = 1;
    return function inner() {
        var count = i + 1;
        var elem = document.getElementById("schemaNewQuestion");
        console.log(count)
        var elemIdNew = elem.cloneNode(true);
        console.log(elemIdNew)
        elemIdNew.querySelector('h2').innerHTML = 'Question № ' + ' ' + count;
        document.getElementById('listQuestion').appendChild(elemIdNew);
        elemIdNew.removeAttribute('hidden');
        <!--elemIdNew.querySelector('.schemaNewQuestion').id = 'nextQuestion' + i;-->
        i++;
    }
}
let addQuestion = outer();
</script>

</body>
</html>