<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="../../resources/static/css/font-awesome.min.css"
          th:href="@{/resources/static/css/font-awesome.min.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/bootstrap.css"
          th:href="@{/resources/static/css/bootstrap.css}">
    <link rel="stylesheet"
          href="../../resources/static/css/style.css"
          th:href="@{/resources/static/css/style.css}">

    <link rel="shortcut icon" type="image/x-icon"
          href="../../resources/static/img/logo.ico"
          th:href="@{/resources/static/img/logo.ico}"/>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>Tests</title>
</head>
<body>

<nav class="pr-2 navbar navbar-expand-lg navbar-light bg-light pt-0 pb-1 mb-3">
    <a class="navbar-brand"><img src="../../resources/static/img/logo.svg"
                                 th:src="@{/resources/static/img/logo.svg}"
                                 height="32" width="32"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="navbar-nav">
                <a href="student.html"
                   type="button"
                   class="btn btn-outline-secondary"
                   th:href="@{/startTest/training}"
                   th:hidden="!${endTest}">Out test
                </a>
                <button th:hidden="${endTest}" id="student" type="button" class="btn btn-outline-secondary"
                        data-toggle="modal"
                        data-target="#exampleModal" data-whatever="@mdo">Out test
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">You sure end test your result don't
                                    save</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <a class="btn btn-danger"
                                   href="student.html"
                                   th:href="@{/startTest/training}"
                                   role="button">End</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>


<section id="tests">
    <div class="container-fluid">
        <div class="row">
            <div class="col col align-self-center">
                <form id="testDTOForm"
                      th:object="${testDto}"
                      action="teacher.html"
                      th:action="@{${#httpServletRequest.servletPath}}"
                      th:method="post">
                    <div class="card">
                        <table class="table table-str">
                            <tbody>

                            <div th:hidden="!${endTest}" class="alert alert-success" role="alert">
                                <h3>
                                    count right question <span th:text="${countRightQuestion}"></span>
                                </h3>

                            </div>

                            <tr class="text-right">
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label text-center">Subject:</label>
                                        <div class="col-sm-4">
                                            <input readonly class="form-control bg-light" th:field="*{subjectName}"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label text-center">Test
                                            name: </label>
                                        <div class="col-sm-4">
                                            <input class="form-control bg-light" readonly
                                                   th:field="*{testName}">
                                        </div>
                                        <div hidden
                                             th:field="*{idTests}"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <section id="listQuestion">
                            <div class="container-fluid pb-2">
                                <div class="row">
                                    <div class="col col align-self-center">
                                        <div class="card" th:each="question, questStat : *{questions}">

                                            <div>
                                                <div class="question">
                                                    <h2>Question № <span th:text="${questStat.count}"> 1 </span>
                                                    </h2>
                                                </div>
                                                <div class="form-group row-conformity">
                                                    <div class="col-sm-12">
                                                        <input hidden type="number"
                                                               th:field="*{questions[__${questStat.index}__].questionId}"/>
                                                        <textarea readonly
                                                                  class="form-control bg-light"
                                                                  th:field="*{questions[__${questStat.index}__].questionName}"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <table class="table">
                                                <tbody>
                                                <tr th:each="questionItem, itemStat : *{questions[__${questStat.index}__].questionItems}">
                                                    <td class="chose">
                                                        <div class="form-check row-conformity">
                                                            <input class="form-check-input" type="checkbox"
                                                                   th:hidden="${endTest}"
                                                                   th:field="*{questions[__${questStat.index}__].questionItems[__${itemStat.index}__].answer}"/>

                                                            <div class="col-sm-7">
                                                                <textarea class="form-control bg-light" readonly
                                                                          th:field="*{questions[__${questStat.index}__].questionItems[__${itemStat.index}__].description}"
                                                                          th:errorclass="is-invalid"></textarea>
                                                                <div th:if="${#fields.hasErrors('questions[__${questStat.index}__].questionItems[__${itemStat.index}__].description')}"
                                                                     class="invalid-feedback"
                                                                     th:errors="*{questions[__${questStat.index}__].questionItems[__${itemStat.index}__].description}">
                                                                    [errors]
                                                                </div>
                                                            </div>

                                                            <input type="number" hidden readonly
                                                                   th:field="*{questions[__${questStat.index}__].questionItems[__${itemStat.index}__].questionItemId}"/>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all" class="chose">
                                                    <td>
                                                        <div class="form-check row-conformity">
                                                            <input class="form-check-input" type="checkbox"/>
                                                            <div class="col-sm-7">
                                                                <span>3 </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all" class="chose">
                                                    <td>
                                                        <div class="form-check row-conformity">
                                                            <input class="form-check-input" type="checkbox"/>
                                                            <div class="col-sm-7">
                                                                <span>2</span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr th:remove="all" class="chose">
                                                    <td>
                                                        <div class="form-check row-conformity">
                                                            <input class="form-check-input" type="checkbox"/>
                                                            <div class="col-sm-7">
                                                                <span>1 </span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <click>
                            <a type="button" th:hidden="${endTest}"
                               class="btn btn-secondary btn-lg btn-block pb-2"
                               href="startTest.html"
                               th:onclick="@{document.forms['testDTOForm'].submit(); return false;}"
                            >End test
                            </a>
                        </click>

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

<script src="../../resources/static/js/jquery.min.js"
        th:src="@{/resources/static/js/jquery.min.js}"></script>
<script src="../../resources/static/js/popper.min.js"
        th:src="@{/resources/static/js/popper.min.js}"></script>
<script src="../../resources/static/js/bootstrap.min.js"
        th:src="@{/resources/static/js/bootstrap.min.js}"></script>


<script>

  $('.chose').mouseover(function() {
    $(this).attr('style', 'background-color:grey;');
  }).mouseout(function(){
    $(this).removeAttr('style');
  });



</script>

<script>

$("input:checkbox").on('change', function() {
	if ( $(this).is(':checked') ) {
  	$(this).siblings('input').val('1');
  } else {
  	$(this).siblings('input').val('0');
  }
});





</script>

<script>

$(document).on('click','.chose',function(){
var $checkbox = $(this).find(':checkbox');

if($checkbox.prop('checked')){
$checkbox.prop('checked', false)
}else{
$checkbox.prop('checked', true)
}
});



</script>


</body>
</html>